<html>
  <head>
    <style type='text/css'>
      body {
        font-family: "Verdana",sans-serif;
      }
      img {
          float: left;
      }
      #body_text {
          float: right;
          width: 100%;
          margin: 10px,10px,10px,10px;
      }
      #status{
          color: green;
          font-weight: bold;
      }

    </style>
  </head>
  <body>
    <div id=header>
      <img src="https://s3.amazonaws.com/web_stuff/mocha_logo_small.png"/>
    </div>
    <div id=body_text>
      <h3>Data Archive Summary</h3>
      <p id=status>*** SYSTEM TEST EMAIL ***!</p> 
      <p>
        This is a system test email to ensure that everything is working as intented.
      </p>
    </div>
  </body>
</html>
